* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Poppins';
}

.card {
  width: 30%;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.card .title {
  width: 100%;
  height: 10%;
  padding: 0 6rem;
  box-sizing: border-box;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  color: white;
  background-color: rgb(68, 43, 179);
  font-size: 1.5rem;
  border-radius: 1rem 1rem 0 0;
}

.card .messages {
  width: 99%;
  height: 70%;
  padding: 1rem;
  box-sizing: border-box;

  border: 1px solid black;
}

.card form {
  width: 100%;
  height: 20%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card form .container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card form .container input,
.card form .container button {
  width: 99%;
  height: 30%;

  border: 1px solid black;
  background: none;
  font-family: "Poppins";
}
.card form .container input {
  padding-left: 1rem;
  box-sizing: border-box;
}


.card form .container button:hover {
  transform: scale(1.03);
  cursor: pointer;
}